# ----[ Visual Studio ]------- #
/kbe/src/_objs
/kbe/src/ipch
__pycache__/
logs/
*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
.idea/.name
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
.idea/encodings.xml
.idea/VirtualPlanet.iml
.idea/vcs.xml
android-client/.idea/.name
android-client/.idea/copyright/profiles_settings.xml
android-client/.idea/misc.xml
android-client/.idea/compiler.xml
android-client/.idea/runConfigurations.xml
android-client/.idea/gradle.xml
android-client/.idea/encodings.xml
android-client/.idea/modules.xml
