# ----[ Visual Studio ]------- #
/kbe/src/_objs
/kbe/src/ipch
__pycache__/
logs/
*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
.idea/.name
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
.idea/encodings.xml
.idea/VirtualPlanet.iml
.idea/vcs.xml
android-client/.idea
android-client/gradle
android-client/build
android-client/android-client.iml
#android-client/build.gradle
android-client/gradle.properties
android-client/gradlew
android-client/gradlew.bat
android-client/local.properties
android-client/settings.gradle